{{#if devoured}}<li>{{burger_name}}</li>{{else}}
<li>
	{{burger_name}}<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Eat the
		Burger!</button>
	</button>
</li>
{{/if}}